.post-container {
    transition: background-color 0.3s;
  }
  
  .post-container:hover {
    border-right: 1em solid #c0e6af;
    background-color: rgba(36, 95, 50, 0.2);
    border-radius: 0.5em;
  }
  
  body {
    background-image: url('/images/Thomas_ChessBlogBackground.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* styling elements for web page 